# VScode
.vscode/

# workspace.json
.obsidian/workspace.json

# plugins/data.json
.obsidian/plugins/recent-files-obsidian/data.json

# graph.json
.obsidian/graph.json

# clear git cache
# git rm -r --cached .